description = Snowboard Sections List
==
<h3 class="text-amber-600">Sections</h3>

<div class="flex flex-col">
    <a href="{{ 'snowboard/index'|page }}" class="block w-full py-3 pl-0 pr-4">
        Introduction
    </a>
    <a href="{{ 'snowboard/js-requests'|page }}" class="block w-full py-3 pl-0 pr-4">
        JavaScript Requests
    </a>
    <a href="{{ 'snowboard/attr-requests'|page }}" class="block w-full py-3 pl-0 pr-4">
        HTML Data Attribute Requests
    </a>
    <a href="{{ 'snowboard/extras'|page }}" class="block w-full py-3 pl-0 pr-4">
        Extra Features
    </a>
    <a href="{{ 'snowboard/utilities'|page }}" class="block w-full py-3 pl-0 pr-4">
        Utilities
    </a>
</div>
