description = "HTML Foot"
==
{##}
        <!-- Footer -->
        <footer id="layout-footer" class="bg-gray-700 text-white h-16 justify-self-end">
            <p>Footer</p>
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
